ion-button {
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    height: 95%;
}

ion-card {
    ion-label {
        color: white;
    }
}
ion-col {
    height: calc(55vh / 5);
}

.resultado {
    color: white;
}